@media (max-width: 768px) {
  .container, .chat-container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 75%;
    //display: flex;
    margin: 0 auto;
  }

  .chat-container {
    width: 75%;
    display: flex;
    margin: 0 auto;
  }
}