.form-header {
  font-family: 'Raleway', sans-serif;
  letter-spacing: -1px;
  text-align: center;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #3A3A3A;
}

.chatbox {
  margin-top: 2.5rem;
  background: #f2f2f2;
  border-radius: 5px;

  & > .form-header {
    //padding: 1.5rem 0;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .box-container {
    padding: 1rem 0;
    display: flex;
    overflow-y: scroll;
    height: 500px;
  }

  & .reply-container {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    margin: 0 auto
  }

  & .reply-form {
    width: 95%;
    margin: 0 auto;
    //display: inline-block;

    & .form-wrapper {
      display: inline-flex;
      justify-content: center;
    }

    & form {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      display: flex;
    }

    & .form-header {
      font-size: 1rem;
    }

    & textarea[name=message] {
      height: 75px;
      width: 81%;
      resize: none;
      border: 0;
      border-radius: 10px;
      background-color: #f2f2f2;
      padding: .5rem 1rem;

      font-family: 'Raleway', sans-serif;
      color: #000;

    }
    
    & .button-wrapper {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      width: 13%;
    }

    & .upload {
      background-color: #F2F2F2;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto 0.5rem auto;

      & img {
        width: 70%;
        height: 70%;
        margin: 0 auto;
      }
      
      &:hover {
        cursor: pointer;
      }
    }

    & .hidden {
      display: none;
    }

    & .uploading {
      margin: 1rem 0 0 0.5rem;
      width: 100%;
    }

    & input[type=file] {
      display: none;
    }

    & input[type=submit] {
      background-color: #6956B3;
      border: 0;
      color: #ffffff;
      font-size: 1rem;
      padding: .5rem 1rem;
      vertical-align: super;
      text-transform: uppercase;
      align-self: center;
    }
  }
}

@media (min-width: 768px) {
  .chatbox {
    display: flex;
    width: 75%;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .chatbox {
    width: 100%;
    margin: 0 auto;
  }
}