.login-form {
  margin-top: 2.5rem;

  & .alert {
    padding: 1rem;
    background-color: rgba(48, 242, 54, 0.25);
    border: 1px solid #30f236;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  & .form-group {
    text-align: center;


    & label {
      //display: block;
      font-weight: 700;
      margin-right: 1rem;
    }

    & input[type=text], & input[type=password] {
      border: 1px solid #000000;
      border-radius: 3px;
      padding: .25rem .5rem;
      font-size: 1rem;
    }

    & input[type=password] {
      margin-top: 1rem;
    }

    & .form-submit {

    }
  }
}

hr.divider {
  height: 0px;
  border: 1px solid #afafaf;
  margin-top: 2.5rem;
  width: 400px;
}

p.register-link {
  text-align: center;
  margin-top: 2.5rem;

  & a {
    color: #337ab7;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}